* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

%light-font {
  font-family: multi-display, sans-serif;
  font-weight: 300;
  font-style: normal;
}

%thin-font {
  font-family: multi-display, sans-serif;
  font-weight: 200;
  font-style: normal;
}

%element-widths {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 20%;
}

header {
  @extend %element-widths;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto;

  a {
    @extend %light-font;
    color: #8fcbd3;
    background-color: transparent;
    border: 2px solid #8fcbd3;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    text-align: center;
    background-image: linear-gradient(45deg, #8fcbd3 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background-position 0.3s ease-in-out;
  }

  a:hover {
    outline: 0;
    color: white;
    background-position: 0;
  }
}

h1 {
  @extend %light-font;
  font-size: 2.9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    height: 0.5px;
    width: 28px;
    background: grey;
    transform: rotate(-60deg);
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: multi-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
  }

  button:after {
    content: "";
    color: #8fcbd3;
    display: block;
    width: 0;
    height: 1px;
    bottom: 0px;
    position: relative;
    background-color: currentColor;

    transition: width 0.5s cubic-bezier(0.73, 0, 0.38, 1);
  }

  button:hover:after {
    width: 100%;
  }

  button:last-of-type {
    color: #4e7791;
  }
}

main {
  @extend %element-widths;
}
